

*{
    padding: 0px;
    margin: 0px;
}


.cabeçalho{
    background-color: #F71735;
    display: flex;
    height: 100px;
    justify-content: space-between;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.295);
    
}
.foto{
    font-size: xx-large;
    margin-left: 10px;
}
.saldosuporte{
    display: flex;
    width: 100px;
    justify-content: space-between;
    text-align: center;
    font-size: x-large;
    margin-right: 10px;
}
.visualizar{
    font-size: xx-large;
}
