

*{
    padding: 0px;
    margin: 0px;
}


.cabeçalho{
    background-color: #F71735;
    display: flex;
    height: 100px;
    justify-content: space-between;
    
}
.saldosuporte{
    display: flex;
    width: 100px;
    background-color: blue;
    justify-content: space-between;
    font-size: large;
    margin-right: 30px;

}
.visualizar{
    font-size: xx-large;
}
