

*{
    padding: 0px;
    margin: 0px;
}


.cabeçalho{
    background-image: linear-gradient(to top , #641220 , #E01E37);
    display: flex;
    height: 100px;
    justify-content: space-between;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.295);
    
}
.foto{
    font-size: xx-large;
    margin-left: 10px;
    cursor: pointer;
    height: 45px;
    width: 45px;
}
.saldosuporte{
    display: flex;
    width: 100px;
    justify-content: space-between;
    text-align: center;
    font-size: x-large;
    margin-right: 10px;
}
.visualizar{
    font-size: xx-large;
    cursor: pointer;
    height: 45px;
    width: 45px;
}
.info{
    cursor: pointer;
    height: 45px;
    width: 45px;
}
