*{
    font-family: sans-serif;
}
.body{
    background-image: radial-gradient(#282c34 , #1d2025 );
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.card1{
    background-image: url(../Estilos/Midia/Imagens/Moeda.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 300px;
    height: 300px;
    background-color: #F71735;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px #1d2025;
    color: #1d2025;
}
.card1:hover{
    scale: 1.1;
    transition: 1s;
    border-radius: 150px;
}
.card1:not(hover){
    
    transition: 1s;
}
.card2{
    background-image: url(../Estilos/Midia/Imagens/Moeda.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 300px;
    height: 300px;
    background-color: #F71735;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px #1d2025;
}
.card2:hover{
    scale: 1.1;
    transition: 1s;
    border-radius: 150px;
}
.card2:not(hover){
    
    transition: 1s;
}
.botao{
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: xx-large;
    text-shadow: 5px 5px 5px #1d20254f;
    color: #1d2025;
    
}
/*aprender a dar um zoom out nas fotos para ficar bonito*/
